# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Pyre type checker
.pyre/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# Logs and local files
*.log
*.db
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore dist and build
build/
dist/
*.egg-info/

# MacOS files
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Ignore secrets (optional)
.env
*.env


__init__.py
